input {
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    45deg,
    rgba(127, 50, 255, 0.5),
    rgb(255, 87, 51, 1));
    font-size:4vh;
  );
}
#app {
  width: 90%;
  margin: auto;
}
.radio,
.checkbox {
  display: block;
  font-weight: initial;
}
input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  max-height:1em;
  max-width: 1em;
  position: relative;
  bottom:0.7vh;
}

.centered_text {
  text-align: center;
  font-family: monospace;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 5vh;
}
#form {
  padding-top: 3vh;
  padding-bottom: 5vh;
  background: linear-gradient(
    35deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.2)
  );
}
label {
  display: block;
  font-weight: bold;
}
input[type="submit"] {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.fields {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 5vh;
}
input,
select {
  width: 100%;
  border-radius: 5px;
  margin-top: 2vh;
  background-color: transparent;
  border:solid black 1.5px;
  height:4.5vh;
  font-size:3.5vh;
}
input:focus,
select:focus,textarea:focus {
  outline: 0;
  border: solid white 2px;
  border-radius: 5px;
}
textarea {
  width: 100%;
  margin-top: 3vh;
  font-size:3.5vh;
  background-color: transparent;
  border:solid black 1.5px;
}
span{
	position:relative;
	bottom:1vh;
}